<a href="https://colab.research.google.com/github/RV-Krishna/Cricket-Game/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv("Cricket_data.csv")
df.drop(["Unnamed: 0","Unnamed: 13"],axis=1,inplace=True)
df

                          Player       Span  Mat  Inns  ...     SR  100  50   0
0           SR Tendulkar (INDIA)  1989-2012  463   452  ...  86.23   49  96  20
1    KC Sangakkara (Asia/ICC/SL)  2000-2015  404   380  ...  78.86   25  93  15
2           RT Ponting (AUS/ICC)  1995-2012  375   365  ...  80.39   30  82  20
3        ST Jayasuriya (Asia/SL)  1989-2011  445   433  ...  91.20   28  68  34
4     DPMD Jayawardene (Asia/SL)  1998-2015  448   418  ...  78.96   19  77  28
..                           ...        ...  ...   ...  ...    ...  ...  ..  ..
142                AN Cook (ENG)  2006-2014   92    92  ...  77.13    5  19   7
143         HDRL Thirimanne (SL)  2010-2019  127   106  ...  72.27    4  21   7
144             Umar Akmal (PAK)  2009-2019  121   110  ...  86.04    2  20   8
145               DI Gower (ENG)  1978-1991  114   111  ...  75.15    7  12   6
146           KR Rutherford (NZ)  1985-1995  121   115  ...  64.30    2  18   6

[147 rows x 13 columns]

In [ ]:
d = {"Players":df["Player"],"Runs":df["Runs"]}
runsdf = pd.DataFrame(d,index=range(0,10))
runsdf = runsdf.sort_values("Runs",ascending=False)
li = ["He is Number one"]
j = 0
for i in range(1,10):
  li.append("{0} needs {1} runs to acheive {2} Position".format(runsdf.iloc[i,0],runsdf.iloc[j,1]-runsdf.iloc[i,1],i))
  j+=1
runsdf["Needs to Acheive"] = li
print(runsdf.drop("Runs",axis=1))

                       Players                                   Needs to Acheive
0         SR Tendulkar (INDIA)                                   He is Number one
1  KC Sangakkara (Asia/ICC/SL)  KC Sangakkara (Asia/ICC/SL) needs 4192 runs to...
2         RT Ponting (AUS/ICC)  RT Ponting (AUS/ICC) needs 530 runs to acheive...
3      ST Jayasuriya (Asia/SL)  ST Jayasuriya (Asia/SL) needs 274 runs to ache...
4   DPMD Jayawardene (Asia/SL)  DPMD Jayawardene (Asia/SL) needs 780 runs to a...
5    Inzamam-ul-Haq (Asia/PAK)  Inzamam-ul-Haq (Asia/PAK) needs 911 runs to ac...
6              V Kohli (INDIA)  V Kohli (INDIA) needs 130 runs to acheive 6 Po...
7       JH Kallis (Afr/ICC/SA)  JH Kallis (Afr/ICC/SA) needs 30 runs to acheiv...
8      SC Ganguly (Asia/INDIA)  SC Ganguly (Asia/INDIA) needs 216 runs to ache...
9    R Dravid (Asia/ICC/INDIA)  R Dravid (Asia/ICC/INDIA) needs 474 runs to ac...

In [ ]:
d = {"Players":df["Player"],"100":df["100"]}
hundredsdf = pd.DataFrame(d)
print(hundredsdf.columns)
hundredsdf = hundredsdf.sort_values("100",ascending=False)
hundredsdf = hundredsdf.head(10)
li = ["He is Number one"]
j = 0
for i in range(1,10):
  li.append("{0} needs {1} hundreds to acheive {2} Position".format(hundredsdf.iloc[i,0],hundredsdf.iloc[j,1]-hundredsdf.iloc[i,1],i))
  j+=1
hundredsdf["Needs to Acheive"] = li
print(hundredsdf.drop("100",axis=1))

Index(['Players', '100'], dtype='object')
                        Players                                   Needs to Acheive
0          SR Tendulkar (INDIA)                                   He is Number one
6               V Kohli (INDIA)  V Kohli (INDIA) needs 6 hundreds to acheive 1 ...
2          RT Ponting (AUS/ICC)  RT Ponting (AUS/ICC) needs 13 hundreds to ache...
3       ST Jayasuriya (Asia/SL)  ST Jayasuriya (Asia/SL) needs 2 hundreds to ac...
19            RG Sharma (INDIA)  RG Sharma (INDIA) needs 0 hundreds to acheive ...
28                 HM Amla (SA)  HM Amla (SA) needs 1 hundreds to acheive 5 Pos...
11            CH Gayle (ICC/WI)  CH Gayle (ICC/WI) needs 2 hundreds to acheive ...
16      AB de Villiers (Afr/SA)  AB de Villiers (Afr/SA) needs 0 hundreds to ac...
1   KC Sangakkara (Asia/ICC/SL)  KC Sangakkara (Asia/ICC/SL) needs 0 hundreds t...
13              TM Dilshan (SL)  TM Dilshan (SL) needs 3 hundreds to acheive 9 ...

In [ ]:
d = {"Players":df["Player"],"50":df["50"]}
fiftysdf = pd.DataFrame(d)
print(fiftysdf.columns)
fiftysdf = fiftysdf.sort_values("50",ascending=False)
fiftysdf = fiftysdf.head(10)
li = ["He is Number one"]
j = 0
for i in range(1,10):
  li.append("{0} needs {1} fifties to acheive {2} Position".format(fiftysdf.iloc[i,0],fiftysdf.iloc[j,1]-fiftysdf.iloc[i,1],i))
  j+=1
fiftysdf["Needs to Acheive"] = li
print(fiftysdf.drop("50",axis=1))

Index(['Players', '50'], dtype='object')
                        Players                                   Needs to Acheive
0          SR Tendulkar (INDIA)                                   He is Number one
1   KC Sangakkara (Asia/ICC/SL)  KC Sangakkara (Asia/ICC/SL) needs 3 fifties to...
7        JH Kallis (Afr/ICC/SA)  JH Kallis (Afr/ICC/SA) needs 7 fifties to ache...
5     Inzamam-ul-Haq (Asia/PAK)  Inzamam-ul-Haq (Asia/PAK) needs 3 fifties to a...
9     R Dravid (Asia/ICC/INDIA)  R Dravid (Asia/ICC/INDIA) needs 0 fifties to a...
2          RT Ponting (AUS/ICC)  RT Ponting (AUS/ICC) needs 1 fifties to acheiv...
4    DPMD Jayawardene (Asia/SL)  DPMD Jayawardene (Asia/SL) needs 5 fifties to ...
10        MS Dhoni (Asia/INDIA)  MS Dhoni (Asia/INDIA) needs 4 fifties to achei...
8       SC Ganguly (Asia/INDIA)  SC Ganguly (Asia/INDIA) needs 1 fifties to ach...
3       ST Jayasuriya (Asia/SL)  ST Jayasuriya (Asia/SL) needs 4 fifties to ach...

In [ ]:
import pandas as pd
df = pd.read_csv("Cricket_data.csv")
df.drop(["Unnamed: 0","Unnamed: 13"],axis=1,inplace=True)
def stats(df,check):
  d = {"Players":df["Player"],check:df[check]}
  finaldf = pd.DataFrame(d)
  print(finaldf.columns)
  finaldf = finaldf.sort_values(check,ascending=False)
  finaldf = finaldf.head(10)
  li = ["He is Number one"]
  j = 0
  for i in range(1,10):
    if check=="50":
      li.append("{0} needs {1} fifties to acheive {2} Position".format(finaldf.iloc[i,0],finaldf.iloc[j,1]-finaldf.iloc[i,1],i))
    elif check=="100":
      li.append("{0} needs {1} hundreds to acheive {2} Position".format(finaldf.iloc[i,0],finaldf.iloc[j,1]-finaldf.iloc[i,1],i))
    else:
      li.append("{0} needs {1} runs to acheive {2} Position".format(finaldf.iloc[i,0],finaldf.iloc[j,1]-finaldf.iloc[i,1],i))
    j+=1
  finaldf["Needs to Acheive"] = li
  print(finaldf.drop(check,axis=1))
stats(df,"50")
stats(df,"100")
stats(df,"Runs")

Index(['Players', '50'], dtype='object')
                        Players                                   Needs to Acheive
0          SR Tendulkar (INDIA)                                   He is Number one
1   KC Sangakkara (Asia/ICC/SL)  KC Sangakkara (Asia/ICC/SL) needs 3 fifties to...
7        JH Kallis (Afr/ICC/SA)  JH Kallis (Afr/ICC/SA) needs 7 fifties to ache...
5     Inzamam-ul-Haq (Asia/PAK)  Inzamam-ul-Haq (Asia/PAK) needs 3 fifties to a...
9     R Dravid (Asia/ICC/INDIA)  R Dravid (Asia/ICC/INDIA) needs 0 fifties to a...
2          RT Ponting (AUS/ICC)  RT Ponting (AUS/ICC) needs 1 fifties to acheiv...
4    DPMD Jayawardene (Asia/SL)  DPMD Jayawardene (Asia/SL) needs 5 fifties to ...
10        MS Dhoni (Asia/INDIA)  MS Dhoni (Asia/INDIA) needs 4 fifties to achei...
8       SC Ganguly (Asia/INDIA)  SC Ganguly (Asia/INDIA) needs 1 fifties to ach...
3       ST Jayasuriya (Asia/SL)  ST Jayasuriya (Asia/SL) needs 4 fifties to ach...
Index(['Players', '100'], dtype='object')
                        Players                                   Needs to Acheive
0          SR Tendulkar (INDIA)                                   He is Number one
6               V Kohli (INDIA)  V Kohli (INDIA) needs 6 hundreds to acheive 1 ...
2          RT Ponting (AUS/ICC)  RT Ponting (AUS/ICC) needs 13 hundreds to ache...
3       ST Jayasuriya (Asia/SL)  ST Jayasuriya (Asia/SL) needs 2 hundreds to ac...
19            RG Sharma (INDIA)  RG Sharma (INDIA) needs 0 hundreds to acheive ...
28                 HM Amla (SA)  HM Amla (SA) needs 1 hundreds to acheive 5 Pos...
11            CH Gayle (ICC/WI)  CH Gayle (ICC/WI) needs 2 hundreds to acheive ...
16      AB de Villiers (Afr/SA)  AB de Villiers (Afr/SA) needs 0 hundreds to ac...
1   KC Sangakkara (Asia/ICC/SL)  KC Sangakkara (Asia/ICC/SL) needs 0 hundreds t...
13              TM Dilshan (SL)  TM Dilshan (SL) needs 3 hundreds to acheive 9 ...
Index(['Players', 'Runs'], dtype='object')
                       Players                                   Needs to Acheive
0         SR Tendulkar (INDIA)                                   He is Number one
1  KC Sangakkara (Asia/ICC/SL)  KC Sangakkara (Asia/ICC/SL) needs 4192 runs to...
2         RT Ponting (AUS/ICC)  RT Ponting (AUS/ICC) needs 530 runs to acheive...
3      ST Jayasuriya (Asia/SL)  ST Jayasuriya (Asia/SL) needs 274 runs to ache...
4   DPMD Jayawardene (Asia/SL)  DPMD Jayawardene (Asia/SL) needs 780 runs to a...
5    Inzamam-ul-Haq (Asia/PAK)  Inzamam-ul-Haq (Asia/PAK) needs 911 runs to ac...
6              V Kohli (INDIA)  V Kohli (INDIA) needs 130 runs to acheive 6 Po...
7       JH Kallis (Afr/ICC/SA)  JH Kallis (Afr/ICC/SA) needs 30 runs to acheiv...
8      SC Ganguly (Asia/INDIA)  SC Ganguly (Asia/INDIA) needs 216 runs to ache...
9    R Dravid (Asia/ICC/INDIA)  R Dravid (Asia/ICC/INDIA) needs 474 runs to ac...

In [ ]:
# batsman ___
# 4,6,1000 run club,.....10000 run club, fastest fifty, fastest hundred,when
# bowler - ---
# within match wickets calculation 3w,5w
# over all matches did he complete 50 wickets, 100 wickets
# these much of times x batsmens out to y bowler

In [ ]:
import pandas as pd
df = pd.read_csv("64865.csv")
print(df)

     Batting  Overs       Country  ... Unnamed: 12 Wicket Type Wicket
0          1    0.1  South Africa  ...         NaN         NaN    NaN
1          1    0.2  South Africa  ...         NaN         NaN    NaN
2          1    0.3  South Africa  ...         NaN         NaN    NaN
3          1    0.4  South Africa  ...         NaN         NaN    NaN
4          1    0.5  South Africa  ...         NaN         NaN    NaN
..       ...    ...           ...  ...         ...         ...    ...
590        2   44.2   West Indies  ...         NaN         NaN    NaN
591        2   44.3   West Indies  ...         NaN         NaN    NaN
592        2   44.4   West Indies  ...         NaN         NaN    NaN
593        2   44.5   West Indies  ...         NaN         NaN    NaN
594        2   44.6   West Indies  ...         NaN         NaN    NaN

[595 rows x 15 columns]

In [ ]:
import pandas as pd
df = pd.read_csv("64865.csv")
print(df.columns)
def batsmanScorecard(df,phase):
  batsmans = set(df[df["Country"]==phase]["Batsman"])
  batscorecard = pd.DataFrame(columns=["Batsman","Runs","4","6"])
  d = {"Batsman":"","Runs":0,"4":0,"6":0}
  print(phase+" Batting Scorecard")
  for i in batsmans:
    d["Batsman"]=i
    d["Runs"]=sum(df[df["Batsman"]==i]["Runs"])
    d["4"]=len(df[(df["Batsman"]==i) & (df["Runs"]==4)])
    d["6"]=len(df[(df["Batsman"]==i) & (df["Runs"]==6)])
    batscorecard = batscorecard.append(d,ignore_index=True)
  print(batscorecard)
batsmanScorecard(df,"South Africa")
batsmanScorecard(df,"West Indies")

Index(['Batting', 'Overs', 'Country', 'Batsman', 'Non-Striker', 'Bowler',
       'Runs', 'Extras', 'Wides', 'NoBall', 'Byes', 'Leg Byes', 'Unnamed: 12',
       'Wicket Type', 'Wicket'],
      dtype='object')
South Africa Batting Scorecard
        Batsman Runs  4  6
0   RJ Peterson   36  4  0
1    L Klusener   41  2  1
2      HH Gibbs   18  1  0
3      GC Smith   46  6  0
4     JH Kallis   95  7  2
5  HH Dippenaar   30  4  0
West Indies Batting Scorecard
         Batsman Runs   4  6
0      RR Sarwan   77   6  0
1       CH Gayle   26   2  2
2        BC Lara   59   6  1
3      RL Powell   34   5  0
4  S Chanderpaul   92  10  2

In [ ]:
print(set(df["Wicket Type"]))
print(df.columns)
import numpy as np
def bowlingScorecard(df,phase):
  bowlers = set(df[df["Country"]==phase]["Bowler"])
  bowscorecard = pd.DataFrame(columns=["Bowler","Wickets"])
  d = {"Bowler":"","Wickets":0}
  for i in bowlers:
    d["Bowler"]=i
    d["Wickets"]=len(df[(df["Bowler"]==i) & (df["Wicket Type"]=="caught") | (df["Wicket Type"]=="bowled")])
    bowscorecard = bowscorecard.append(d,ignore_index=True)
  print(bowscorecard)
bowlingScorecard(df,"South Africa")
bowlingScorecard(df,"West Indies")
a = df[(df["Bowler"]=="M Dillon") & (df["Wicket Type"]!=np.NaN)]
#print(df[df["Wicket Type"]!=np.nan])
print(i)
print(df[(df["Bowler"]==i) & (df["Wicket Type"]=="caught") | (df["Wicket Type"]=="bowled")])

NameError: ignored